<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user role</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="authorization">Authorize</a></li>
    </ul>
</nav>
<div>
    <form method="post" action="update_user">
        {{#roles}}
            <div class="custom-control custom-checkbox">
                <input type="checkbox" name="roleIds" class="custom-control-input" value={{name}}
                       id="{{name}}-toggle" {{#isChecked}} checked="checked" {{/isChecked}}>
                <label class="custom-control-label" for="{{name}}-toggle">{{name}}</label>
            </div>
        {{/roles}}

        {{#user}}
            <input type="hidden" name ="userId" value="{{id}}">
        {{/user}}


<!--        <input type="hidden" nam="_crsf" value="{_crsf.token}}">-->
        <input type="button" value="Cancel">
        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>